body{
    margin: 0;
}

nav img{
    width: 80px;
    height: 80px;
    margin-right: 120px;
}

.nav-item:hover{
    background-color:  #EC8641;
}

nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    border-bottom: 1px solid;
   
}
.nav-item{
    margin-right: 30px;
    cursor: pointer;
    transition: opacity .5s cubic-bezier(.165,.84,.44,1);
}
.intro-area img{
    width: 1720px;
    height: 1080px;
}
.training{
    display: none;
}



.LogoNav{
    display: flex;
    align-items: center;
}
.rightNav{
    align-items: center;
    margin-right: 30px;
}


.startNow{
    padding: 10px;
    margin-right: 30px;
    border-radius: 6px;
    background-color: #3B7BA4;
    color: white;
}

.description{
    position: relative;
    top: -500px;
    left: 60px;
    color: white;
}
.phone-img{
    position: relative;
    top: -250px;
    width: 500px;
    float: right;
}
